/* after boyicha  */

/* affter keyingi si yani sozdan keyingi kantenr qoshia oluvch psedo element  */


/* ////////////////////////////// */


/* bofer boyichga  */


/* before bu kantentdan oldn keladgan psedo element yani kontenrtan oldn korsatladgan cantent  */

/* //////////////////////////////////// */


/*/bu ikktasni farqlri /*/

/* before bu oldingi keldgan cantend psedo element after esa htmlda yozlgan kantentdan keyingi keluvch psedo element */

